<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Recuperar senha</h3>

      <p class="text-center">Por favor informe o seu endereço de e-mail para solicitar uma nova senha.</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="E-mail" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Reiniciar senha" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Voltar? <span class="redirect" routerLink="/sign-in">Login</span></span>
    </div>

  </div>
</div>