<!-- Main content -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <!-- <div class="inner-adjust"> -->
    <!-- <div class="pt-1 pb-1 mb-1 border-bottom">
      <h1 class="h2">Minhas Obras</h1>
    </div> -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Minhas obras</li>
      </ol>
    </nav>
    <!-- <div class="row">
      <div class="col-md-4 offset-md-1">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" placeholder="Search by name..." (keyup)="searchByName()">
          <div class="input-group-append">
            <span class="input-group-text"><ion-icon class="icon" name="search"></ion-icon></span>
          </div>
        </div>
      </div> -->
    <!-- <div class="list-group"> -->
      <div *ngFor="let item of items" class="list-group-item-action align-items-start">
        <ul class="list-group">
          <a>
            <li class="list-group-item" (click)="viewDetails(item)">
              <span class="align-middle">
                <img src="https://placehold.it/50x50" height="50" class="mr-4">
                {{item.nome}} - {{item.matricula}}
              </span>
            </li>
          </a>
        </ul>
      </div>
</main>
